* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* COLORS.backgroundBase */
  background: #2f3136;
  /* COLORS.foregroundBase */
  color: #ffffff;
}

html,
#root,
body {
  height: calc(100% - env(safe-area-inset-bottom));
  width: 100%;
  margin: 0;
  max-width: 100%;
  color: #ffffff;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
}
